body {
  overflow: hidden;
  user-select: none;
}

/* ________________________________imageHeader________________________________ */

header {
  height: 100vh;
  width: 100%;
}

.bgHeader {
  background-image: url("../img/backgroundHeader.png");
  background-color: #000000;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* _________________________________textHeader________________________________ */

.primaryLetterHeader {
  color: var(--c-primary);
}

.headerTitle {
  color: var(--c-gray);
  text-align: center;
  margin-top: 48px;
}

.headerTitle p {
  font-size: 35px;
  transition: 1s;
  font-weight: 500;
  margin-right: 25%;
}

.headerTitle h1 {
  font-size: 85px;
  font-weight: 600;
}

.headerTitle h2 {
  font-size: 22px;
  transition: 1s;
  font-weight: 400;
}

.headerTitle a {
  text-decoration: none;
}

#textPresentation {
  font-size: 22px;
  text-align: center;
  margin: 100px 50px 0 50px;
  color: var(--c-gray);
}

/* _________________________________containerBtn________________________________ */

.containerBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  flex-wrap: wrap;
}

.btnCross {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  margin: 5% 5%;
  font-weight: 500;
}

.btnCross a {
  text-decoration: none;
  border: 2px solid var(--c-gray);
  border-radius: 25px;
  padding: 15px;
  color: var(--c-black);
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  transition: 1s;
}

.btnCross a:hover {
  color: var(--c-gray);
  transition: 1s;
}

span {
  position: relative;
  z-index: 3;
}

.btnCross a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  height: calc(100% - 10px);
  background-color: var(--c-primary);
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
  border-radius: 10px;
}

.btnCross a:hover::before {
  transform: scaleY(0);
}

.btnCross a::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
  background-color: var(--c-primary);
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
  border-radius: 5px;
}

.btnCross a:hover::after {
  transform: scaleX(0);
}
