/* ////////////////////// Projets Web ////////////////////// */

body {
  overflow-x: hidden;
}

/* ///////////////////////// Title ///////////////////// */

.sectionTitle {
  color: var(--c-gray);
  text-align: center;
  padding-top: 50px;
}

.sectionTitle p {
  font-size: 35px;
  transition: 1s;
  font-weight: 500;
  margin-right: 25%;
}

.sectionTitle h1 {
  font-size: 85px;
  font-weight: 600;
}

.sectionTitle h2 {
  font-size: 22px;
  transition: 1s;
  font-weight: 400;
}

.primaryLetterSection {
  color: var(--c-black);
}

.bgWeb {
  height: 100vh;
  background-color: var(--c-primary);
}

/* ////////////////// Slider //////////////////// */

.containerSlider {
  margin-top: 44px;
  padding: 30px 0;
  display: flex;
  height: auto;
  justify-content: space-between;
  align-items: center;
  background-color: var(--c-black);
  box-shadow: -5px 5px 66px -18px var(--c-gray);
}

.containerSlider a {
  text-decoration: none;
}

.allSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  color: var(--c-gray);
  flex-wrap: nowrap;
  display: none;
}

.slideStart {
  display: flex;
}

.imgSlide img {
  height: 330px;
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.containerSlider .imgSlide,
.textSlide {
  margin: 0 3%;
}

.textSlide h2 {
  margin-bottom: 6%;
  font-size: 33px;
}

.textSlide p {
  margin: 3% 0;
  font-size: 22px;
}

.textSlide p i {
  margin: 3% 0;
  font-size: 18px;
}

.leftArrow,
.rightArrow {
  background-color: var(--c-black);
  height: 100%;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  margin: 0 10px;
}

.leftArrow:hover,
.rightArrow:hover {
  filter: opacity(50%);
  transition: 0.5s;
}

@media screen and (max-width: 1200px) {
  .allSlide {
    flex-wrap: wrap;
    text-align: center;
  }
  .textSlide h2 {
    margin-top: 3%;
  }

  .containerSlider {
    display: block;
  }
}
