/* ////////////////////// 0thers ////////////////////// */

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --c-primary: #f18701;
  --c-secondary: #e09738;
  --c-black: #292929;
  --c-white: #ffffff;
  --c-gray: #ebebeb;
}

.slide {
  transition: 0.5s;
  filter: opacity(0);
}

.hidden-left {
  transform: translate(-100%);
  filter: opacity(100%);
  transition: 0.5s;
}

.hidden-right {
  transform: translate(100%);
  filter: opacity(100%);
  transition: 0.5s;
}

.show-slide {
  transform: translate(0%);

  transition: 0.5s;
}

/* ////////////////////// Animation Shine ////////////////////// */

.animShine {
  background: linear-gradient(90deg, #000, #fff, #000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: repeat;
  background-size: 80%;
  animation: shine 8s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -280%;
  }
  100% {
    background-position-x: 500%;
  }
}

/* ////////////////// php code console //////////////////// */

.bgConsole {
  background-color: var(--c-primary);
  color: var(--c-gray);
  padding: 10px;
}

.bgConsole h1 {
  font-size: 45px;
  text-shadow: 2px 5px 15px var(--c-black);
}

.bgConsole p {
  font-size: 25px;
  text-shadow: 2px 5px 15px var(--c-gray);
  color: var(--c-black);
}

.containerCode {
  letter-spacing: 1px;
  margin: 33px 22px;
  height: 450px;
  display: flex;
  justify-content: center;
  box-shadow: -5px 5px 66px -18px var(--c-primary);
}

body {
  background-color: var(--c-black);
}

/* _________________________________containerBtn________________________________ */

.containerBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btnCross {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  margin: 10px;
  font-weight: 500;
}

.btnCross a {
  text-decoration: none;
  border: 2px solid var(--c-gray);
  border-radius: 25px;
  padding: 12px;
  color: var(--c-black);
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  transition: 1s;
}

.btnCross a:hover {
  color: var(--c-gray);
  transition: 1s;
}

span {
  position: relative;
  z-index: 3;
}

.btnCross a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  height: calc(100% - 10px);
  background-color: var(--c-primary);
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
  border-radius: 10px;
}

.btnCross a:hover::before {
  transform: scaleY(0);
}

.btnCross a::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
  background-color: var(--c-primary);
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
  border-radius: 5px;
}

.btnCross a:hover::after {
  transform: scaleX(0);
}
